.product-details{
    display: flex;
    margin-top:20px;
    /* text-align: center; */
}
.product-pic{
    margin:0px 10px;
}
.product-name{
    margin:0px 5px;
}
.product-heading{
    color:blue;
    font-weight: 400;
}
.add-cart-btn{
    background-color: goldenrod;
    width: 190px;
    height: 30px;
    border:1px solid rgb(104, 38, 12);
    border-radius: 5px;
    cursor: pointer;
}